/* RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 1
  Author: Chau Chan Thien
  ID: s3975010
  Acknowledgement: Codepen.io, uiverse.io, Amazon.com, https://tympanus.net */
/* Theme Changing color styling */
.theme-change:checked~main {
    background-color: #222;
}

.theme-change:checked~main .path p {
    color: white;
    text-shadow: 0 0 10px rgba(33, 156, 243, 1), 0 0 10px rgba(33, 156, 243, 1);
    box-shadow: inset -6px -6px 15px rgba(0, 0, 0, 0.5), inset 6px 6px 10px rgba(255, 255, 255, 0.07);
}

.theme-change:checked~main .path p a {
    color: white;
    text-shadow: 0 0 10px rgba(33, 156, 243, 1), 0 0 10px rgba(33, 156, 243, 1);
}

.theme-change:checked~main section .image-container .main-image {
    box-shadow: inset 5px 5px 10px #171717, inset -5px -5px 10px #2d2d2d;
}

.theme-change:checked~main section .image-container .sub-images .sub-image {
    box-shadow: inset 5px 5px 10px #171717, inset -5px -5px 10px #2d2d2d;
}

.theme-change:checked~main section .charging-card {
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.5), inset 3px 3px 5px rgba(255, 255, 255, 0.07);
}

.theme-change:checked~main section .charging-card p {
    box-shadow: inset 5px 5px 10px #171717, inset -5px -5px 10px #2d2d2d;
    color: white;
    text-shadow: 0 0 10px rgba(33, 156, 243, 1), 0 0 10px rgba(33, 156, 243, 1);
}

.theme-change:checked~main section .charging-card h1 {
    box-shadow: inset 5px 5px 10px #171717, inset -5px -5px 10px #2d2d2d;
    color: white;
    text-shadow: 0 0 10px rgba(33, 156, 243, 1), 0 0 10px rgba(33, 156, 243, 1);
}

.theme-change:checked~main section .charging-card button {
    color: white;
    background: #222;
    text-shadow: 0 0 10px rgba(33, 156, 243, 1), 0 0 10px rgba(33, 156, 243, 1);
    box-shadow: inset -6px -6px 15px rgba(0, 0, 0, 0.5), inset 6px 6px 10px rgba(255, 255, 255, 0.07);
}

.theme-change:checked~main section .charging-card button:hover {
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.5),
        inset 2px 2px 4px rgba(255, 255, 255, 0.07);
}

.theme-change:checked~main section .charging-card button:active {
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5),
        3px 3px 5px rgba(255, 255, 255, 0.07);
}

/* Book page design */
main {
    background-color: #f1f2f6;
}

/* Path component design */
.path {
    padding: 25px;
}

.path p {
    width: fit-content;
    border-radius: 5px;
    font-weight: bold;
    padding: 15px;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7), -6px -6px 10px rgba(255, 255, 255, 0.5), 6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
}

/* Main image and Sub image styling */

section {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 10vh;
    padding-bottom: 20vh;
}

.image-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-image {
    display: flex;
    width: 55%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px;
    perspective: 1500px;
    border-radius: 5px;
    box-shadow: inset 5px 5px 10px #a1a2a5,
        inset -5px -5px 10px #ffffff;
}
/* 3D spinning book styling */
.face {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}

.face-cover {
    width: 100%;
    height: 100%;
    transform: translateX(0%) translateY(0%) translateZ(17px);
}

.face-spine {
    width: 34px;
    height: 100%;
    transform: translateX(170%) translateY(0%) rotateY(-90deg) translateZ(75px);
}

.face-back {
    width: 100%;
    height: 100%;
    transform: translateX(0%) rotateY(-180deg) translateZ(17px);
}

.face-side {
    width: 34px;
    height: 100%;
    transform: translateX(170%) translateY(0%) rotateY(90deg) translateZ(75px);
}

.face-cover img {
    width: 100%;
    height: 100%;
}

.face-spine img {
    width: 100%;
    height: 100%;
}

.face-back img {
    width: 100%;
    height: 100%;
}

.face-side img {
    width: 100%;
    height: 100%;
}

.glass-front {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.25) 25%,
            rgba(0, 0, 0, 0.15) 50%,
            rgba(255, 255, 255, 0) 100%);
    transform: translateX(0%) translateY(0%) translateZ(17px);
    position: absolute;
    top: 0;
    left: 0;
    animation: lightingeffect 10s infinite linear;
    animation-delay: -3.1s;
}

.glass-trim {
    width: 100%;
    height: 100%;

    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.25) 25%,
            rgba(0, 0, 0, 0.15) 50%,
            rgba(255, 255, 255, 0) 100%);
    position: absolute;

    top: 0;
    left: 0;
    animation: lightingeffect 10s infinite linear;
    animation-delay: -1.55s;
}

.glass-back {
    width: 100%;
    height: 100%;

    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.25) 25%,
            rgba(0, 0, 0, 0.15) 50%,
            rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    animation: lightingeffect 10s infinite linear;
    animation-delay: 0s;
}

.sub-images {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sub-image {
    width: 90%;
    height: 30%;
    margin: auto;
    border-radius: 5px;
    box-shadow: inset 5px 5px 10px #a1a2a5,
        inset -5px -5px 10px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-image:nth-child(1) {
    margin-top: 0;
}

.sub-image:nth-child(3) {
    margin-bottom: 0;
}

.sub-image img {
    width: 50%;
    height: 90%;
}
/* Book information card styling */
.charging-card {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0 #c4ceda, -4px 0 3px 0 hsla(0, 0%, 100%, 0.6), 0 -4px 3px 0 hsla(0, 0%, 100%, 0.6), -2px -2px 14px 4px #fff, 3px 3px 8px 0 #b0c4db, 3px 3px 15px 0 #c4ceda;
}

.book-name {
    border-radius: 9999px;
    height: fit-content;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: inset 5px 5px 10px #a1a2a5,
        inset -5px -5px 10px #ffffff;
}

.book-price {
    border-radius: 9999px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: fit-content;
    padding: 15px;
    box-shadow: inset 5px 5px 10px #a1a2a5,
        inset -5px -5px 10px #ffffff;
}

.book-description {
    border-radius: 9999px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    box-shadow: inset 5px 5px 10px #a1a2a5,
        inset -5px -5px 10px #ffffff;
}

.add-to-cart {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 15px;
    transition: 0.2s ease-in-out;
    border-radius: 9999px;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7), -6px -6px 10px rgba(255, 255, 255, 0.5), 6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
}

.add-to-cart:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
        -2px -2px 4px rgba(255, 255, 255, 0.4),
        2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.add-to-cart:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
        inset -2px -2px 4px rgba(255, 255, 255, 0.5),
        inset 2px 2px 2px rgba(255, 255, 255, 0.075),
        inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.book-container {
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    animation: rotate 10s infinite linear;
    width: 150px;
    height: 240px;
}

/* Book rotate animation */
@keyframes rotate {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/* light reflection effect */
@keyframes lightingeffect {
    0% {
        background-position: -200% 100%, right top, center top, left top;
        background-size: 500% 200%, auto 100%, auto 100%, auto 100%;
    }

    25% {
        background-position: -200% 100%, right top, center top, left top;
        background-size: 500% 200%, auto 100%, auto 100%, auto 100%;
    }

    50% {
        background-position: 0% 100%, right top, center top, left top;
        background-size: 500% 200%, auto 100%, auto 100%, auto 100%;
    }

    75% {
        background-position: 200% 0, right top, center top, left top;
        background-size: 500% 200%, auto 100%, auto 100%, auto 100%;
    }

    100% {
        background-position: 200% 0, right top, center top, left top;
        background-size: 500% 200%, auto 100%, auto 100%, auto 100%;
    }
}

/* Responsive */
@media (max-width: 960px) {
    section {
        flex-direction: column;
    }

    /* Change images component arrangement to vertical way */
    .image-container {
        width: 100%;
        flex-direction: column;
        height: 100vh;
    }

    .main-image {
        width: 100%;
    }

    .sub-images {
        flex-direction: row;
        width: 100%;
        height: 20%;
    }

    .sub-image {
        width: 30%;
        height: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .sub-image:nth-child(1) {
        margin-left: 0;
        margin-top: 10px;
    }

    .sub-image:nth-child(3) {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .charging-card {
        width: 100%;
    }

    .book-name {
        border-radius: 50px;

    }

    .book-price {
        border-radius: 50px;

    }

    .book-description {
        border-radius: 50px;

    }
}