/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.category-header {
  text-align: center;
  padding-top: 20px;
  /* margin-top: 20px; */
  color: #6a9bd8;
  font-family: Sriracha;
}