/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.category-header {
  text-align: center;
  padding-top: 20px;
  /* margin-top: 20px; */
  color: white;
  font-family: Sriracha;
  background-color: #f1f2f6;
  text-shadow: 0 0 10px #0ff,
  0 0 10px #0ff;
}

